p {
    line-height: 1.5;
    font-size: 18px;
}


ul {
    background-color: #ffffff;
    padding: 20px 20px;
    border-left: 5px solid #ffffff;
    list-style-type: square;
}


ol {
    background-color: #ffffff;
    padding: 20px 20px;
    border-left: 5px solid #ffffff;
}


li {
    margin-bottom: 5px;
}

.bold-italic {
    font-weight: bold;
    font-style: italic;
}

img:hover {
    opacity: 0.8;
    cursor: pointer;
}